.task-list-container {
    padding: 20px;
  
    .controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  .controls{
    margin:12px;
  }
  .addTask{
    margin-left: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
  }