<h2 mat-dialog-title>{{ data ? 'Edit Task' : 'Add Task' }}</h2>

<div mat-dialog-content>
  <form [formGroup]="taskForm" class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter task title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Enter task description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="Low">Low</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="High">High</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button style="margin-right: 5px;" mat-button mat-dialog-close>Cancel</button> 

  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="taskForm.value"
    [disabled]="taskForm.invalid">
    Save
  </button>
</div>
