.full-width {
  width: 100%;
}
mat-form-field {
    width: 100%;
  }
  
  .mat-select-panel {
    background-color: white; 
    color: black;
    z-index: 1000; 
  }
  
  .mat-option {
    color: black;
    font-size: 14px;
  }
  
  textarea, input {
    color: black; 
  }
  .inputBox{
    width:250px;
    height: 25px;     
  }
  .descBox{
    width:250px;
    height: 65px; 
  }
  .dropdown{
    width:250px;
    height: 25px;
  }
  